@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link rel="icon" href="~/folder-manager-32px.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/lib/ndexplorer/css/ndexplorer.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <div class="container">

        <div x-data="ndexplorer" class="filemanager">
            @*Thanh công cụ*@
            <div class="fm-toolbox">
                <input fm-file-upload type="file" />
                <button x-on-click="uploadFile()" class="btn-xoa">Tải file lên </button>

                <button x-on:click="deleteSelectedItem()" class="btn-xoa">Xóa</button>

                <button x-on:click="openFolderUpdinPopup()" class="btn-xoa">Thêm thư mục</button>

                <button x-on:click="renameSelectedItem()" class="btn-xoa">Sửa</button>

            </div>

            @* Cây thư mục*@
            <div class="fm-folder-tree">
                <ul>
                    <li class="folder-level-0" x-on:click="GetAllIndir('', -1)">
                        <span>Thư mục gốc</span>
                    </li>
                    <template x-for="(f, idx) in _folderTree" :key="idx">
                        <li :class="{...f.cssClass, selected: idx == _folderTreeSelecedIndex}"
                            x-on:click="GetAllIndir(f.fullPath, idx)">
                            <button class="btn-file" x-text="f.isOpen? '📂' : '📁'"
                                    x-on:click.stop="toggleFolder(idx)">
                                +
                            </button>
                            <span x-text="f.folderName"></span>
                            @*data-expand-char="+" data-collapse-char="-"  class="btn-toggle" cách hiện thị ....
                            dấu '...' là 1 dạng toán tử dùng để tách nhiều "??" ra
                            *@
                        </li>

                    </template>
                </ul>
            </div>

            @*Phần chính hiển thị file và các công cụ*@
            <div class="fm-main-panel">
                <template x-for="(f, idx) in _panelData">
                    <div class="panel-item" :class="{selected: _panelItemSelectedIndex == idx}" x-on:click="setSelectedItem(f, idx)">
                        <img :src="getIcon(f.isFolder)" />
                        <span x-text="f.name"></span>
                    </div>
                </template>

            </div>

            @*Thông tin bổ sung*@
            <div class="fm-additional-info">

                <span x-text="_additionalInfo.selectedText"></span>

            </div>
            @*Popup thêm/ sửa thông tin thư mục *@
            <div class="fm-folder-updin-popup" :class="{show: _folderUpdinPopup.show}">
                <div class="popup-main">
                    <div>
                        <label x-text="_folderUpdinPopup.label">Tên thư mục: </label>
                        <input class="form-control" type="text" x-model="_folderUpdinPopup.value" />
                    </div>
                    <div class="btn-sd">
                        <button class="btn-save" x-on:click="updinFolder()">Lưu</button>
                        <button class="btn-cancel" x-on:click="closeFolderUpdinPopup()">Hủy</button>

                    </div>
                </div>
            </div>

            @*thêm*@
        </div>
    </div>

    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
    <script src="~/lib/ndexplorer/js/ndexplorer.js" asp-append-version="true"></script>

</body>
</html>
